.footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #bbb;
  div {
    padding: 3px 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
  a {
    color: #bbb;
  }
}
