$default-font-color: #333;
$default-disabled-color: #ddd;

$autoWidth: 425px;

@mixin mediaMax($tarW) {
  @media all and (max-width: $tarW) {
    @content;
  }
}

@mixin mediaMin($tarW) {
  @media all and (min-width: $tarW) {
    @content;
  }
}
