@import "./_define";

.app-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 430px;
  min-height: 100vh;
  border: 1px solid #cccccc;

  @include mediaMax($autoWidth) {
    max-width: 100%;
  }
}

.poster-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10% 0;
}

.group-wrapper {
  display: flex;
  justify-content: space-between;
}
